html {
    height: 100%;
  }
  
  body {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #212112;
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
      background-position: center;
      background-repeat: repeat;
      background-size: 7%;
      background-color: #fff;
      overflow-x: hidden;
        transition: all 200ms linear;
  }
  
  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  
  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  
  .bg3 {
    animation-duration: 5s;
  }
  
  .content {
    background-color: rgba(190, 188, 188, 0.8);
    border-radius: 0.80em;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    left: 50%;
    padding: 10vmin;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: 10px;
  }
  
  h1 {
    font-family: monospace;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
  

.container-fluid {
    background-color: #C0C0C0;
    font-size: 20px;
    font-weight: 500;
    padding: 20 20 20 20;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* navbar button  */
.navbar-brand {
    /* padding-top: 0.3125rem; */
    /* padding-bottom: 0.3125rem; */
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.login {
    text-align: center;  
    width: 100%;  
    justify-content: center;
    margin-top:270px;
}

.welcome {
    font-size: 70px;
    font-weight: 700;
}

/* .btn {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
} */
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -8px;
  justify-content: space-between;
}